<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
    <style>table th, table td {padding: 5px;}</style>
</head>

<body>

<div th:switch="${users}">
    <h2 th:case="null">No users found!</h2>
    <div th:case="*">
        <h2>Users</h2>

        <p><a href="/new"><input type="submit" value="Create New User"/></a></p>

        <table border="1">
            <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Surname</th>
                <th>Age</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="user : ${users}">
                <td th:text="${user.id}"></td>
                <td th:text="${user.name}"></td>
                <td th:text="${user.surname}"></td>
                <td th:text="${user.age}"></td>
                <td><a th:href="@{/{id}/edit/(id=${user.id})}"><input type="submit" value="Edit User"/></a></td>
                <td><a th:href="@{/delete/{id}(id=${user.id})}"><input type="submit" value="Delete"/></a></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>
